.solution-title-bar {
    background-color: #48a1e7 ;
    width: 100%; text-align: left; padding:0 0 0 29px;
    display: table;
}

.solution-title-bar p {
    margin: 0;
    padding: 0px 18px 0px 00;
    color: white; font-size: 15px;
    display: table-cell;
}

.tabSection div button  {    width: 16.6%; max-width: none;}


.SideDrawer {
    width: 28% !important;
}
