.card-action-main {
    margin-left: 10px;
}

.resend-code {
    font-size: 12px;
    cursor: pointer;
    float: right;
    margin:0;
    color: #807d7b;
}
.resend-code:hover {text-decoration:underline;}

