.dropDown{
    width: 570px;
    position: absolute;
    z-index: 500 !important;
}
.titleName{
    padding-bottom: 15px!important;
}
.search-wrapper button{
    outline: none;
}

.center_search {
    width: 570px;
    margin: 0 0 0 -30%;
}