.NavigationItem {
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    margin: 0;
    padding: 15px 0 15px 15px;
    vertical-align: top;
    width: 50%;
    word-wrap: break-word;
    background: #373e44 ;
    border: 1px solid #000;
}
.sub-menu{
    position: absolute;
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    width: 200px;
    padding-left: 15px;
    left: 0;
    top: 52px;
}
.NavigationItems li.NavigationItem:last-child{width:100%;}

li.NavigationItem {
    position: relative;
}
li.NavigationItem:hover {
    background-color: #000 !important;
    cursor: pointer !important;
}

li.NavigationItem:hover .sub-menu{
    background-color: #48a1e7 ;
    opacity: 1;
    visibility: visible;

}
.NavigationItem :hover {
    background-color: #40A4C8 !important;
}
@media (min-width: 500px) { 
       
}