.NavigationItem {
    margin: 10px 0;
    box-sizing: border-box;
    display: block;
    width: 100%;
    font-weight: 600;
    font-style: normal;
    padding: 10px;
    font-size: 21px;
}

li.NavigationItem :hover {
    background-color: #40A4C8 !important;
    cursor: pointer !important;
}

@media (min-width: 500px) {
    .NavigationItem {
        margin: 10px 0;
        box-sizing: border-box;
        display: block;
        width: 100%;
        font-weight: 600;
        font-style: normal;
        padding: 10px;
        font-size: 21px;
        cursor: pointer;
    }
    
    .NavigationItem :hover {
        background-color: #40A4C8 !important;
    }

    .sub-menu {
        display: block;
        z-index: 200;
        background-color: blue;
        position: absolute;
        top: 52px;
        left: 232px;
    }
}