.Root {
    background-color: black !important;
    flex-grow: 1 !important;
    color: #48a1e7  !important;
}
.MenuButton {
    margin-left: -12;
    margin-right: 20;
}
.Serach {
    background-color:white;
    border-radius: 0;
    min-width: 400px;
    padding: 0 0 0 5px;
}
.header-col {
    flex-grow: 1;
}
.account-section.header-col {
    text-align: right;
    position: relative;
    z-index: 9999999;
    left: -18px;
}
.account-section svg.MuiSvgIcon-root-50 {
    width: 40px;
    height: 40px;
}
.header-search.header-col {
    text-align: center;
    width: 59%;
}
.search-wrapper {
    display: inline-block;
    position: relative;
    width: 50%;
}
span.search-icon {
    position: absolute;
    right: 75px;
    top: 6px;
}
.search-wrapper input {
    padding-left: 15px;
    padding-right: 37px;
}
.mobile-trigger span.MuiIconButton-label-46 {
    display: block;
    text-align: left;
}
.triger-icon svg.MuiSvgIcon-root-50 {
    width: 40px;
    height: 40px;
}
.logo-text {
    font-size: 12px;
}
.data-search-class input {
    border-radius: 0;
}
.card-account {
    z-index: 200px;
    width: 200px;
    height: 200px;
}
.user-name-header {
    padding: 10px;
    display: inline-block !important;
    vertical-align: top;
    width: 76%;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
}
.render-menu {
    width: 800px;
}
.web-search {
    background-color: white !important;
    position: absolute
}
ul.search-reasult {
    margin: 0;
    list-style: none;
    text-align: left;
    position: absolute;
    background: #fff;
    width: 402px;
    left:75px;
    top: 35px;
    padding: 15px 0;
    border: 1px solid #ccc;
    border-radius: 0 0 4px 4px;
}
.heading-searhweb.borderClass{
    border-bottom: none;
    background-color: #e6e6e6;
    text-align: left;
    padding: 5px;
}
ul.search-reasult li {
    border-bottom: 1px solid #ccc;
    color: #000;
    display: block;
    margin: 0;
    padding: 8px 0;
    text-align: center;
}
ul.search-reasult li:hover {
    background-color: rgb(231, 114, 114);
}
ul.search-reasult li:last-child {
    margin-bottom: 0; 
    padding-bottom: 0;
    border-bottom: none;
}
.lisitng {
    height: 360px;
    overflow-y: scroll;
}
h4.heading-searhweb {
    border-bottom: 1px solid #ccc;
    color: #1f0cbd;
    margin-bottom: 0;
    margin-top: 0;
    padding: 8px 0;
    text-align: center;
}
.user-name-header strong{
    display: block;
}
.close-icon {
    float: right;
    position: relative;
    right: 10px;
}
.row-user-avatar .avatar-sub {
    cursor: pointer;
    background: #000;
    color: #48a1e7;
    border: 3px solid rgba(72, 161, 231, 0.6);
    font-weight: 600;
}
.user-details {
    padding: 5px 10px 10px;
}

.role {
    display: block;
}

.user-details:focus {
    outline: none;
}

.signout-menu {
    border-top: 2px solid rgb(230, 200, 200) !important;
    cursor: default !important;
}
.signout-menu:hover {
    background: none !important;
}
.signout-menu button {
    background: none;
    border: 1px solid #ccc;
    padding: 0 10px;
    font-size: 14px;
    height: 30px;
    border-radius: 3px;
    cursor: pointer;
}

.signup-signin {
    margin: 10px;
    
}

.signup-signin a {
    text-decoration: none;
    color: white;
    margin: 0 10px;
    padding: 5px;
    border-radius: 3px;
    display: inline-block;
    width: 85px;
    text-align: center;
}

.signup-signin a:hover
 {
    background-color: #48a1e7;
}

.signup-signin a:active
.signup-signin a.active {
    background-color: #48a1e7;
}

.header-tool-bar div img {
    margin: 0 0 0 -120%;
    cursor: pointer;
}
.act_wdth .header-tool-bar div img {margin: 0 0 0 -105%;}
header{min-height: 70px;}