.Root {
    background-color: black !important;
    flex-grow: 1 !important;
    color: #48a1e7  !important;
}

.MenuButton {
    margin-left: -12;
    margin-right: 20;
}

.Serach {
    background-color:white;
    border-radius: 0;
    min-width: 400px;
    padding: 0 0 0 5px;
}
.header-col {
    flex-grow: 1;
}
.account-section.header-col {
    text-align: right;
}
.account-section svg.MuiSvgIcon-root-50 {
    width: 40px;
    height: 40px;
}
.header-search.header-col {
    text-align: center;
    width:100%;
}
.search-wrapper {
    display: inline-block;
    position: relative;
    width: 50%;
}
span.search-icon {
    position: absolute;
    right: 51px;
    top: 6px;
}
.search-wrapper input {
    padding-left: 15px;
    padding-right: 37px;
}
.mobile-trigger span.MuiIconButton-label-46 {
    display: block;
    text-align: left;
}
.triger-icon svg.MuiSvgIcon-root-50 {
    width: 40px;
    height: 40px;
}
.logo-text {
    font-size: 12px;
}

.data-search-class input {
    border-radius: 0;
}

.card-account {
    z-index: 200px;
    width: 200px;
    height: 200px;
}

.user-name-header {

    font-size: 40px;
    font-weight: 400;
    font-style: bolder;
    color: black;
    padding: 10px;

}

.render-menu {
    width: 800px;
}

.web-search {
    background-color: white !important;
    position: absolute
}
ul.search-reasult {
    margin: 0;
    list-style: none;
    text-align: left;
    position: absolute;
    background: #fff;
    width: 402px;
    left:51px;
    top: 35px;
    padding: 15px 0;
    border: 1px solid #ccc;
    border-radius: 0 0 4px 4px;
}
.heading-searhweb.borderClass{border-bottom: none;}
ul.search-reasult li {
    /* display: block;
    color: #000;
    margin: 0 0 7px;
     border-bottom: 1px solid #ccc;
    padding-bottom: 7px;
    padding-left: 15px;
    padding-right: 15px; */
    border-bottom: 1px solid #ccc;
    color: #000;
    display: block;
    margin: 0;
    padding: 8px 0;
    text-align: center;
}

ul.search-reasult li:hover {
    background-color: rgb(231, 114, 114);
}
ul.search-reasult li:last-child {
    margin-bottom: 0; 
    padding-bottom: 0;
    border-bottom: none;
}
.lisitng {
    height: 360px;
    overflow-y: scroll;
}
h4.heading-searhweb {
     /* background-color: #eae2e2;
    color: #1f0cbd;
    text-align: center;
    margin-top: 0px;
    height: 34px;
    padding: 5px 0 0 0;
    border-bottom: 1px solid #ccc; */
    border-bottom: 1px solid #ccc;
    color: #1f0cbd;
    margin-bottom: 0;
    margin-top: 0;
    padding: 8px 0;
    text-align: center;
}
.user-name-header strong{display: block;}
.MuiTouchRipple-root-59{border-top: 1px solid #ccc!important;}