.SideDrawer {
    position: relative;
    width: 28%;
    max-width: 70%;
    height: 100%;
    left: 0;
    top: 60;
    z-index: 400;
    background-color:#131212;
    padding: 0 10px 10px;
    box-sizing: border-box;
    transition: transform 0.3s ease-out;
    float:left;
    
}



.Open {
    transform: translateX(0);
    display: block;
}

.Close {
    transform: translateX(-100%);
    display: none;
}